

@yellow:#f5ff00;
.margenes(@top:0px, @bottom:0px){
     margin-top: @top;
     margin-bottom: @bottom;
}

body {
    padding-top: 5rem;
    background-color: @yellow;
    .margenes(30px, 12px);
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          .margenes(30px, 12px);
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
        .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: @yellow;
    color: black;
    .margenes(20px, 10px);

  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  .card-info{
  background-color: blueviolet;
      flex: 1 200px;
  }